Repository hmcts/dg-docassembly-api, pull requests merged in 2019-08, with the labels that each got.

#27 update java registry
  charts/dg-docassembly/Chart.yaml
  charts/dg-docassembly/requirements.yaml
  charts/dg-docassembly/values.yaml
  docker-compose-demo.yml
  docker-compose-dependencies.yml
  docker-compose.yml
Labels: ns:dg-docassembly-pr-27

#29 Hotfix/sonar issue s2083
  build.gradle
  config/owasp/dependency-check-suppressions.xml
  docker-compose-dependencies.yml
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/TemplateRenditionService.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/TemplateRenditionServiceTest.java
Labels: ns:dg-docassembly-pr-29

#31 Deploymentprep/switch on endpoints
  Dockerfile
  charts/dg-docassembly/requirements.yaml
  charts/dg-docassembly/values.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/prod.tfvars
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/FormDefinitionResourceTests.java
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/TemplateRenditionResourceTests.java
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/testutil/Env.java
  web.config
Labels: ns:dg-docassembly-pr-31

#32 sidam pact + oawsp dep update
  build.gradle
  config/owasp/dependency-check-suppressions.xml
  pacts/docassembly_api-idam_api.json
  src/contractTest/java/uk/gov/hmcts/reform/dg/docassembly/IdamConsumerTest.java
Labels: ns:dg-docassembly-pr-32
