Repository hmcts/dg-docassembly-api, pull requests merged in 2019-10, with the labels that each got.

#68 Moved swagger build to jenkins files from travis
  .travis.yml
  Jenkinsfile_CNP
  config/owasp/dependency-check-suppressions.xml
Labels: ns:dg-docassembly-pr-68

#73 EM-2132: Update Java version and bump Helm chart number
  charts/dg-docassembly/Chart.yaml
  charts/dg-docassembly/requirements.yaml
  config/owasp/dependency-check-suppressions.xml
Labels: ns:dg-docassembly-pr-73

#74 Removed scala related code
  build.gradle
  config/owasp/dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/performance/HttpConfiguration.scala
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/performance/NpaLoad.scala
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/performance/NpaSmoke.scala
  src/aat/resources/conf/logback.xml
Labels: ns:dg-docassembly-pr-74

#75 gradle upgrade
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Labels: ns:dg-docassembly-pr-75

#78 Removed alias related lines
  charts/dg-docassembly/Chart.yaml
  charts/dg-docassembly/requirements.yaml
  charts/dg-docassembly/values.aat.template.yaml
  charts/dg-docassembly/values.preview.template.yaml
  charts/dg-docassembly/values.yaml
Labels: ns:dg-docassembly-pr-78
