Repository hmcts/dg-docassembly-api, pull requests merged in 2020-03, with the labels that each got.

#116 update java chart to 16
  charts/dg-docassembly/Chart.yaml
  charts/dg-docassembly/requirements.yaml
  config/owasp/dependency-check-suppressions.xml
Labels: ns:dg, rel:dg-docassembly-pr-116

#117 OpenId Connect Changes
  Jenkinsfile_CNP
  README.md
  build.gradle
  charts/dg-docassembly/Chart.yaml
  charts/dg-docassembly/values.yaml
  config/owasp/dependency-check-suppressions.xml
  docker-compose-dependencies.yml
  docker-compose.yml
  idam-client-setup.sh
  infrastructure/demo.tfvars
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/OpenIdConnectSceanarios.java
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/testutil/TestUtil.java
  src/aat/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/config/security/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/config/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/config/security/SecurityUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/config/security/AuthCheckerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/config/security/SecurityConfiguration.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/config/security/SecurityUtils.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/config/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/BaseTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/EndpointTogglesTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/FormDefinitionResourceTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/TemplateRenditionResourceTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/TestSecurityConfiguration.java
Labels: ns:dg, rel:dg-docassembly-pr-117

#123 EM-1873-2: Update readme with instructions to install jq
  README.md
Labels: ns:dg, rel:dg-docassembly-pr-123
