Repository hmcts/dg-docassembly-api, pull requests merged in 2020-05, with the labels that each got.

#147 Em 2880 integrate pact broker
  Jenkinsfile_CNP
  build.gradle
  config/owasp/dependency-check-suppressions.xml
  pacts/docassembly_api-idam_api.json
  src/contractTest/java/uk/gov/hmcts/reform/dg/docassembly/IdamConsumerTest.java
Labels: ns:dg, rel:dg-docassembly-pr-147

#149 EM-2930 scripts for idam and local running
  README.md
  bin/idam-authenticate.sh
  bin/idam-client-setup.sh
  bin/idam/idam-create-user.sh
  bin/idam/idam-get-s2s-token.sh
  bin/idam/idam-get-user-token.sh
  bin/idam/idam.sh
  bin/start-local-environment.sh
Labels: ns:dg, rel:dg-docassembly-pr-149

#151 EM-2723 Updated code to use Serenity Runner and generate single report
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/BaseTest.java
Labels: ns:dg, rel:dg-docassembly-pr-151

#152 EM-2880 Fix POST request body generation in pact json
  pacts/docassembly_api-idam_api.json
  src/contractTest/java/uk/gov/hmcts/reform/dg/docassembly/IdamConsumerTest.java
Labels: ns:dg, rel:dg-docassembly-pr-152

#159 test for isha
  Jenkinsfile_CNP
  config/owasp/dependency-check-suppressions.xml
Labels: ns:dg, rel:dg-docassembly-pr-159
