Repository hmcts/dg-docassembly-api, pull requests merged in 2022-01, with the labels that each got.

#531 Updated sonar config
  build.gradle
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/ServiceNameAspect.java
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-531

#534 Fix sonar issues
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/conversion/DocmosisConverter.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/rest/DocumentConversionResource.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/FormDefinitionService.java
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-534

#535 Updated log4J version
  build.gradle
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-535

#432 Added in changes for CDAM
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/SecureTemplateRenditionResourceTests.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/dto/CreateTemplateRenditionDto.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/rest/DocumentConversionResource.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/rest/TemplateRenditionResource.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/CdamService.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/TemplateRenditionService.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/DocumentConversionResourceTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/TemplateRenditionResourceTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/CdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/TemplateRenditionServiceTest.java
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-432

#539 Upgrade gradle to 7.3.3
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-539
