Repository hmcts/dg-docassembly-api, pull requests merged in 2022-10, with the labels that each got.

#790 EM-4636 change log level
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/CdamService.java
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-790

#793 EM-4645 avoid - CVE-2022-42003
  build.gradle
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-793

#798 Em-4648 setup max connection
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/config/HttpClientConfiguration.java
  src/main/resources/application.yaml
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-798

#799 EM-4648 create custom exception
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/config/HttpClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/DocmosisApiClient.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/DocmosisTimeoutException.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/TimeoutException.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/DocmosisApiClientTest.java
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-799

#809 EM-4666 use debug level
  build.gradle
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/config/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/ServiceNameAspect.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/ServiceNameAspectTest.java
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-809

#811 EM-4666 remove unnecessary log libs
  build.gradle
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-811

#815 EM-4666 use debug level for app-insight
  charts/dg-docassembly/Chart.yaml
  charts/dg-docassembly/values.yaml
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-815

#819 EM-4692 remove unused log config
  build.gradle
  charts/dg-docassembly/Chart.yaml
  charts/dg-docassembly/values.yaml
  src/main/resources/application.yaml
  src/main/resources/logback-spring.xml
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-819

#831 bump auth-checker-lib to 2.1.5
  build.gradle
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-831
