Repository hmcts/dg-docassembly-api, pull requests merged in 2022-04, with the labels that each got.

#597 Updated file extension check
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/impl/FileToPDFConverterServiceImpl.java
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-597

#600 Add new test for DOC
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/impl/FileToPDFConverterServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/FileToPDFConverterServiceImplTest.java
  src/test/resources/template1.DOC
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-600

#604 Em-4383 check sonar exclusions
  build.gradle
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-604

#596 Updated Response code for template renditions
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/SecureTemplateRenditionResourceTests.java
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/TemplateRenditionResourceTests.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/dto/TemplateIdDto.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/TemplateRenditionException.java
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-596

#605 Updated Swagger doc
  README.md
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/rest/DocumentConversionResource.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/rest/FormDefinitionResource.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/rest/TemplateRenditionResource.java
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-605

#606 Update swagger doc
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/rest/FormDefinitionResource.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/rest/TemplateRenditionResource.java
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-606
