Repository hmcts/dg-docassembly-api, pull requests merged in 2022-02, with the labels that each got.

#552 Whitelisted adoption_cos_api
  charts/dg-docassembly/Chart.yaml
  charts/dg-docassembly/values.yaml
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-552

#559 Updated CVE fix
  build.gradle
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-559

#560 Update helm chart
  charts/dg-docassembly/Chart.yaml
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-560

#565 Removed suppression
  config/owasp/dependency-check-suppressions.xml
Labels: ns:dg, prd:dg, rel:dg-docassembly-pr-565
