Repository hmcts/dg-docassembly-api, pull requests merged in 2023-10, with the labels that each got.

#1244 Updated secure doc logic for template redention endpoint
  charts/dg-docassembly/Chart.yaml
  charts/dg-docassembly/values.yaml
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/SecureTemplateRenditionResourceTests.java
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/TemplateRenditionResourceTests.java
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/testutil/ToggleProperties.java
  src/aat/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/config/Constants.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/dto/CreateTemplateRenditionDto.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/rest/TemplateRenditionResource.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/TemplateRenditionService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/TemplateRenditionResourceTest.java
Labels: prd:dg, ns:dg, rel:dg-docassembly-pr-1244

#1271 Suppress CVE-2023-4586
  config/owasp/dependency-check-suppressions.xml
Labels: prd:dg, ns:dg, rel:dg-docassembly-pr-1271

#1277 EM-5591 remove DEBUG APPLICATIONINSIGHTS INSTRUMENTATION
  charts/dg-docassembly/Chart.yaml
  charts/dg-docassembly/values.yaml
Labels: prd:dg, ns:dg, rel:dg-docassembly-pr-1277

#1287 EM-5616 CVE-2023-5072-vulnerability
  config/owasp/dependency-check-suppressions.xml
Labels: prd:dg, ns:dg, rel:dg-docassembly-pr-1287

#1292 EM-5505 reduce app-insight logs
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/conversion/DocmosisConverter.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/rest/DocumentConversionResource.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/DocmosisApiClient.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/impl/DmStoreDownloaderImpl.java
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/impl/FileToPDFConverterServiceImpl.java
Labels: prd:dg, ns:dg, rel:dg-docassembly-pr-1292

#1293 Em 5605 change log level to debug
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/impl/DmStoreDownloaderImpl.java
Labels: prd:dg, ns:dg, rel:dg-docassembly-pr-1293

#1294 Em-5605 remove logs fix
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/DmStoreDownloaderImplTest.java
Labels: prd:dg, ns:dg, rel:dg-docassembly-pr-1294
