Repository hmcts/dg-docassembly-api, pull requests merged in 2024-04, with the labels that each got.

#1537 add log
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/rest/DocumentConversionResource.java
  src/main/resources/application.yaml
Labels: prd:dg, ns:dg, rel:dg-docassembly-pr-1537

#1541 Upgrade java chart to 5.2.0
  charts/dg-docassembly/Chart.yaml
Labels: prd:dg, ns:dg, rel:dg-docassembly-pr-1541

#1550 fixed missed code smells
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/service/DmStoreUploader.java
Labels: prd:dg, ns:dg, rel:dg-docassembly-pr-1550

#1556 Enabling spot instances in lower envs
  charts/dg-docassembly/Chart.yaml
  charts/dg-docassembly/values.yaml
Labels: prd:dg, ns:dg, rel:dg-docassembly-pr-1556
