Repository hmcts/dg-docassembly-api, pull requests merged in 2025-05, with the labels that each got.

#2025 add tests
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/dg/docassembly/rest/FormDefinitionResourceDisabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/dg/docassembly/rest/FormDefinitionResourceEnabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/dg/docassembly/rest/RestTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/dg/docassembly/rest/TemplateRenditionResourceIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/dg/docassembly/rest/TestSecurityConfiguration.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/EndpointTogglesTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/FormDefinitionResourceTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/CdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/DmStoreDownloaderImplTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/DocmosisApiClientTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/HttpOkResponseCloserTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/TemplateContentExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/TemplateRenditionServiceTest.java
Labels: prd:dg, ns:dg, rel:dg-docassembly-pr-2025

#2044 whitelisted PCS service
  charts/dg-docassembly/Chart.yaml
  charts/dg-docassembly/values.yaml
Labels: prd:dg, ns:dg, rel:dg-docassembly-pr-2044

#2052 Removed redundant rules
  .github/renovate.json
Labels: prd:dg, ns:dg, rel:dg-docassembly-pr-2052
