Repository hmcts/dg-docassembly-api, pull requests merged in 2025-01, with the labels that each got.

#1867 EM-6348 junit 5 upgrade part-1
  src/main/java/uk/gov/hmcts/reform/dg/docassembly/config/security/SecurityConfiguration.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/conversion/DocmosisConverterTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/dto/CreateTemplateRenditionDtoTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/DocumentConversionResourceTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/EndpointTogglesTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/FormDefinitionResourceTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/RestTestBase.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/TemplateRenditionResourceTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/TestSecurityConfiguration.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/rest/WelcomeResourceTest.java
Labels: prd:dg, ns:dg, aat/no-changes, prod/no-changes, rel:dg-docassembly-pr-1867

#1874 Em 6348 junit5 upgrade - part 2
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/CdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/DmStoreDownloaderImplTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/DmStoreUploaderTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/DocmosisApiClientTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/FileToPDFConverterServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/FormDefinitionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/TemplateContentExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/TemplateManagementApiClientTest.java
  src/test/java/uk/gov/hmcts/reform/dg/docassembly/service/TemplateRenditionServiceTest.java
Labels: prd:dg, ns:dg, aat/no-changes, prod/no-changes, rel:dg-docassembly-pr-1874

#1875 EM-6348 junit 5 upgrade part-3
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/BaseTest.java
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/DocumentConversionScenarios.java
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/FormDefinitionResourceTests.java
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/OpenIdConnectSceanarios.java
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/SecureDocumentConversionScenarios.java
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/SecureTemplateRenditionResourceTests.java
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/TemplateRenditionResourceTests.java
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/smoke/SmokeTest.java
Labels: prd:dg, ns:dg, aat/no-changes, prod/no-changes, rel:dg-docassembly-pr-1875

#1910 upgrade em-test-helper to 2.1.1
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/dg/docassembly/functional/BaseTest.java
Labels: prd:dg, ns:dg
